.bxTopRight {
    position: absolute;
    top: 16px;  /* Ajuste la distance du haut si nécessaire */
    right: 16px;  /* Aligne à droite avec un léger espacement */
}

.ModalBot {
    background-color: var(--backgroundColorC) !important;
}

.borderTop {
  border-left: 2px solid var(--ColorC);
  border-top: 2px solid var(--ColorC);
  border-right: 2px solid var(--ColorC);
}

.borderMid {
  border-left: 2px solid var(--ColorC);
  border-right: 2px solid var(--ColorC);
  height: 80vh;
  overflow-y: auto;
}

.borderBottom {
  border-left: 2px solid var(--ColorC);
  border-bottom: 2px solid var(--ColorC);
  border-right: 2px solid var(--ColorC);
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.imageCard {
  position: relative;
  background: #1f1f1f;
  border-radius: 12px;
  padding: 8px;
}

.imageName {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 4px 6px;
  font-size: 0.75rem;
  text-align: center;

  background: rgba(0, 0, 0, 0.65);
  color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.miniImg {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.deleteButton {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.7);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  z-index: 2;

  transition: 0.2s;
}

.deleteButton:hover {
  background: rgba(255, 0, 0, 0.85);
  transform: scale(1.1);
}

.copyUrlButton {
  position: absolute;
  top: 12px;
  left: 12px;

  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.7);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  z-index: 2;

  transition: 0.2s;
}

.copyUrlButton:hover {
  background: rgba(255, 0, 0, 0.85);
  transform: scale(1.1);
}

.customUploadButton {
  background-color: #FF9901;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  border: none;
  display: inline-flex;
  align-items: center;
}

.customUploadButton:hover {
  background-color: #FFB300;
}

.btnOff {
  background-color: var(--ColorBtnOff);
  color: var(--txtColorDarkTer);
  transition: background-color 0.3s ease;
}

.btnOff:hover {
  background-color: var(--ColorBtnOffHover);
  color: var(--txtColorDarkTer);
  cursor: not-allowed;
}